<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="format-detection" content="telephone=no" />
	<link rel="stylesheet" href="./css/default.css" type="text/css">
	<title>내신성적산출</title>
</head>

<body>
	<div id="wrap" class="blue full">
		<div id="header">
			<h1 class=""><img v-bind:src="'./img/'+BasicInfo.UnivID+'.gif'" v-bind:alt="BasicInfo.UnivName" /></h1>
		</div>
		<div id="container">
			<div id="content">

				<!-- 상단 안내사항 -->
				<div class="top_visual">
					<div class="txt_area">
						<div class="tit">
							<em>{{BasicInfo.ServiceYear}}학년도 수시 모집</em>
							<h2>{{BasicInfo.UnivName}} 학생부성적산출</h2>
						</div>
						<div class="top_notice">
							<h3 class="notice_tit">반드시 읽어보세요!</h3>
							<p class="description">본 프로그램은 본교 지원 학생들의 성적산출을 위해 제공되는 프로그램으로 <br />학생들의 입력값에 따라 최종 결과가 상이할
								수 있으니 단순 참고용으로 사용하시기 바랍니다.</p>
							<p class="btn_area"><a
									href="https://www.gnu.ac.kr/new/cm/cntnts/cntntsView.do?sysId=new&cntntsId=5495&mi=4928"
									title="학교생활기록부 반영방법" class="btn st1" target="_blank">학교생활기록부 반영방법 <i
										class="arr"></i></a></p>
						</div>
					</div>
					<div class="img_area">
						<div class="over"></div>
					</div>
				</div>

				<div class="content_area">

					<div class="section st1">
						<h4>지원구분</h4>
						<table border="0" cellpadding="0" cellspacing="0" class="tbl_type1 st1">
							<caption>지원구분</caption>
							<colgroup>
								<col width="15%" />
								<col width="*" />
							</colgroup>
							<tbody>
								<tr>
									<th colspan="2">졸업구분</th>
									<td>
										<ul class="checkbox st1">
											<li v-for="item in BasicInfo.ScholarShip">
												<input type="radio" v-model="ScholarShip" :id="'rdoScholarship'+item.value" :value="item.value" name="rdoScholarship">
												<label :for="'rdoScholarship'+item.value" class="check">{{item.text}}</label>
											</li>
										</ul>
									</td>
								</tr>
								<tr>
									<th rowspan="2">졸업구분</th>
									<th>학생부교과</th>
									<td>
										<ul class="checkbox st1">
											<li v-for="item in SelTypeGroup1">
												<input type="radio" v-model="SelTypeCode" :id="'rdoSelType'+item.value" :value="item.value" name="rdoSelType">
												<label :for="'rdoSelType'+item.value" class="check">{{item.text}}</label>
											</li>
										</ul>
									</td>
								</tr>
								<tr>
									<th>실기/실적</th>
									<td>
										<ul class="checkbox st1">
											<li v-for="item in SelTypeGroup2">
												<input type="radio" v-model="SelTypeCode" :id="'rdoSelType'+item.value" :value="item.value" name="rdoSelType">
												<label :for="'rdoSelType'+item.value" class="check">{{item.text}}</label>
											</li>
										</ul>
									</td>
								</tr>
							</tbody>
						</table>
					</div><!-- //section -->

					<div class="section st1" v-show="ScoreInput1Display">
						<h4>교과 성적 입력</h4>
						<table border="0" cellpadding="0" cellspacing="0" class="tbl_type1 st2" id="tb1">
							<caption>교과성적 입력</caption>
							<colgroup>
								<col width="12%" />
								<col width="14%" />
								<col width="14%" />
								<col width="12%" />
								<col width="12%" />
								<col width="12%" />
								<col width="12%" />
								<col width="12%" />
							</colgroup>
							<thead>
								<tr>
									<th rowspan="2">학년</th>
									<th rowspan="2">교과</th>
									<th rowspan="2">교과목</th>
									<th colspan="2">1학기</th>
									<th colspan="2">2학기</th>
									<th rowspan="2">삭제</th>
								</tr>
								<tr>
									<th>이수단위</th>
									<th>과목등급</th>
									<th>이수단위</th>
									<th>과목등급</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="(item, idx) in ScoreInput1" :key="'scoreInput'+idx">
									<td>
										<select v-model="item.Year" class="type1">
											<option value="">:: 선택 ::</option>
											<option value="1">1학년</option>
											<option value="2">2학년</option>
											<option value="3">3학년</option>
										</select>
									</td>
									<td>
										<select v-model="item.Subject" class="type1">
											<option value="">:: 선택 ::</option>
											<option value="1">국어</option>
											<option value="2">영어</option>
											<option value="3">수학</option>
											<option value="4">사회</option>
											<option value="5">과학</option>
										</select>
									</td>
									<td>
										<input type="text" v-model="item.SubjectText" />
									</td>
									<td><input type="number" min="1" max="9" v-model="item.Unit1" class="type1 st2"/></td>
									<td><input type="number" min="1" max="9" v-model="item.Grade1" class="type1 st2"/></td>
									<td><input type="number" min="1" max="9" v-model="item.Unit2" class="type1 st2"/></td>
									<td><input type="number" min="1" max="9" v-model="item.Grade2" class="type1 st2"/></td>
									<td class="del">
										<a href="javascript:void(0)" @click="RemoveScoreInput1(idx)" title="삭제"></a>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="btn_area right">
							<a href="javascript:void(0)" @click="AddScoreInput1()" class="btn st3 add">과목 추가</a>
						</div>
					</div>
					
					<div class="section st1" v-show="false">
						<h4>교과 성적 입력</h4>
						<table border="0" cellpadding="0" cellspacing="0" class="tbl_type1 st2" id="tb2">
							<tbody>
								<thead>
									<tr align="center">
										<th rowspan="2">학년</th>
										<th rowspan="2">교과</th>
										<th rowspan="2">교과목</th>
										<th colspan="4">1학기</th>
										<th colspan="4">2학기</th>
										<th rowspan="2">삭제</th>
									</tr>
									<tr align="center">
										<th class="st2">이수단위</th>
										<th class="st2">석차</th>
										<th class="st2">동석차</th>
										<th class="st2">재적수</th>
										<th class="st2">이수단위</th>
										<th class="st2">석차</th>
										<th class="st2">동석차</th>
										<th class="st2">재적수</th>
									</tr>
								</thead>
								<tr align="center">
									<td>
										<select name="cboGrade_2" id="cboGrade_2">
											<option value="">:: 선택 ::</option>
											<option value="1">1학년</option>
											<option value="2">2학년</option>
											<option value="3">3학년</option>
										</select>
									</td>
									<td>
										<select name="cboSubject_2" id="cboSubject_2">
											<option value="">:: 선택 ::</option>
											<option value="1">국어</option>
											<option value="2">영어</option>
											<option value="3">수학</option>
											<option value="4">사회</option>
											<option value="5">과학</option>
										</select>
									</td>
									<td>
										<input type="text" />
									</td>
									<td><input type="text" class="type1 st2" id="txtUnit1_2" name="txtUnit1_2" size="3" maxlength="2"></td>
									<td><input type="text" class="type1 st2" id="txtUnit2_2" name="txtUnit2_2" size="3" maxlength="2"></td>
									<td><input type="text" class="type1 st2" id="txtUnit3_2" name="txtUnit3_2" size="3" maxlength="2"></td>
									<td><input type="text" class="type1 st2" id="txtUnit4_2" name="txtUnit4_2" size="3" maxlength="2"></td>
									<td><input type="text" class="type1 st2" id="txtUnit5_2" name="txtUnit5_2" size="3" maxlength="2"></td>
									<td><input type="text" class="type1 st2" id="txtUnit6_2" name="txtUnit6_2" size="3" maxlength="2"></td>
									<td><input type="text" class="type1 st2" id="txtUnit7_2" name="txtUnit7_2" size="3" maxlength="2"></td>
									<td><input type="text" class="type1 st2" id="txtUnit8_2" name="txtUnit8_2" size="3" maxlength="2"></td>
									
									<td class="del">
										<a href="javascript:void(0)" title="삭제"></a>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="btn_area right">
							<a href="javascript:void(0)" class="btn st3 add">과목 추가</a>
						</div>
					</div>

					<div class="section st1" id="scoreInput3" v-show="false">
						<h4>진로 선택(대체)과목</h4>
						<table border="0" cellpadding="0" cellspacing="0" class="tbl_type1 st2" id="tb3">
							<caption>교과성적 입력</caption>
							<colgroup>
								<col width="12%" />
								<col width="14%" />
								<col width="14%" />
								<col width="12%" />
								<col width="12%" />
								<col width="12%" />
								<col width="12%" />
								<col width="12%" />
							</colgroup>
							<thead>
								<tr>
									<th rowspan="2">학년</th>
									<th rowspan="2">교과</th>
									<th rowspan="2">교과목</th>
									<th colspan="2">1학기</th>
									<th colspan="2">2학기</th>
									<th rowspan="2">삭제</th>
								</tr>
								<tr>
									<th>이수단위</th>
									<th>과목등급</th>
									<th>이수단위</th>
									<th>과목등급</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<select id="cboGrade_3" name="cboGrade_3" class="type1">
											<option value="">:: 선택 ::</option>
											<option value="1">1학년</option>
											<option value="2">2학년</option>
											<option value="3">3학년</option>
										</select>
									</td>
									<td>
										<select id="cboSubject_3" name="cboSubject_3" class="type1">
											<option value="">:: 선택 ::</option>
											<option value="1">국어</option>
											<option value="2">영어</option>
											<option value="3">수학</option>
											<option value="4">사회</option>
											<option value="5">과학</option>
										</select>
									</td>
									<td>
										<input type="text" />
									</td>
									<td><input type="number" min="1" max="9" name="txtGrade1_3" id="txtGrade1_3" class="type1 st2"/></td>
									<td>
										<select id="cboUnit1_3" name="cboUnit1_3" class="type1">
											<option value="">:: 선택 ::</option>
											<option value="1">A (90점 이상)</option>
											<option value="2">A (80~89점)</option>
											<option value="3">A (80점 미만)</option>
											<option value="4">B (60점 이상)</option>
											<option value="5">B (50~59점)</option>
											<option value="6">B (50점 미만)</option>
											<option value="7">C (30점 이상)</option>
											<option value="8">C (20~52점)</option>
											<option value="9">C (20점 미만)</option>
										</select>
									</td>
									<td><input type="number" min="1" max="9" name="txtGrade2_3" id="txtGrade2_3" class="type1 st2"/></td>
									<td>
										<select id="cboUnit2_3" name="cboUnit2_3" class="type1">
											<option value="">:: 선택 ::</option>
											<option value="1">A (90점 이상)</option>
											<option value="2">A (80~89점)</option>
											<option value="3">A (80점 미만)</option>
											<option value="4">B (60점 이상)</option>
											<option value="5">B (50~59점)</option>
											<option value="6">B (50점 미만)</option>
											<option value="7">C (30점 이상)</option>
											<option value="8">C (20~52점)</option>
											<option value="9">C (20점 미만)</option>
										</select>
									</td>
									<td class="del">
										<a href="javascript:void(0)" title="삭제"></a>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="btn_area right">
							<a href="javascript:void(0)" class="btn st3 add">과목 추가</a>
						</div>
					</div>

					<div class="section" id="scoreInput4" v-show="false">
						<h4>출결성적</h4>
						<table border="0" cellpadding="0" cellspacing="0" class="tbl_type1 st2" id="tblAttend">
							<caption>출결성적</caption>
							<colgroup>
								<col width="*" /><col width="*" /><col width="*" /><col width="*" /><col width="20%" /><col width="20%" />
							</colgroup>
							<thead>
								<tr>
									<th colspan="4">사고(무단)으로 인한 지각, 조퇴, 결과 횟수</th>
									<th rowspan="2">무단(사고) 결석</th>
									<th rowspan="2">총 결석일 수</th>
								</tr>
								<tr>
									<th class="st2">지각</th>
									<th class="st2">조퇴</th>
									<th class="st2">결과</th>
									<th class="st2">결석일</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><input type="number" min="0" id="Att2" class="type1 st3" value="0"/> 회</td>
									<td><input type="number" min="0" id="Att3" class="type1 st3" value="0"/> 회</td>
									<td><input type="number" min="0" id="Att4" class="type1 st3" value="0"/> 회</td>
									<td><input type="number" min="0" id="Att5" class="type1 st3" value="0" disabled="disabled"/> 일</td>
									<td><input type="number" min="0" id="Att1" class="type1 st3" value="0"/> 일</td>
									<td><input type="number" min="0" id="TotAttend" class="type1 st3" value="0" disabled="disabled"/> 일</td>
								</tr>
							</tbody>
						</table>
					</div>

					<div class="section st1" id="scoreInput5" v-show="false">
						<h4>교과 성적 입력</h4>
						<table border="0" cellpadding="0" cellspacing="0" class="tbl_type1 st2" id="TableG_2">
							<caption>검정고시출신자 입력</caption>
							<colgroup>
								<col width="33%" />
								<col width="33%" />
								<col />
							</colgroup>
							<thead>
								<tr align="center" class="til">
									<th>교과</th>
									<th>교과목</th>
									<th>검정고시 취득성적</th>
								</tr>
							</thead>
							<tbody>
								<tr align="center" class="ti2">
									<td class="td_3" colspan="2">국어</td>
									<td><input type="text" class="type1 st3" id="txtNum1" name="txtNum1" size="3" maxlength="3"></td>
								</tr>
								<tr align="center" class="ti2">
									<td class="td_3" colspan="2">영어</td>
									<td><input type="text" class="type1 st3" id="txtNum2" name="txtNum2" size="3" maxlength="3"></td>
								</tr>
								<tr align="center" class="ti2">
									<td class="td_3" colspan="2">수학</td>
									<td><input type="text" class="type1 st3" id="txtNum3" name="txtNum3" size="3" maxlength="3"></td>
								</tr>
								<tr align="center" class="ti2">
									<td class="td_3" colspan="2">사회</td>
									<td><input type="text" class="type1 st3" id="txtNum4" name="txtNum4" size="3" maxlength="3"></td>
								</tr>
								<tr align="center" class="ti2">
									<td class="td_3" colspan="2">과학</td>
									<td><input type="text" class="type1 st3" id="txtNum5" name="txtNum5" size="3" maxlength="3"></td>
								</tr>
								<tr align="center" class="ti2">
									<td class="td_3" colspan="2">한국사</td>
									<td><input type="text" class="type1 st3" id="txtNum6" name="txtNum6" size="3" maxlength="3"></td>
								</tr>
								<tr align="center" class="ti2">
									<td class="td_3">선택</td>
									<td><input type="text" class="type1 st3" /></td>
									<td><input type="text" class="type1 st3" id="txtNum7" name="txtNum7" size="3" maxlength="3"></td>
								</tr>

							</tbody>
						</table>
					</div>
					
					<div class="section st1" id="divResult1">
						<h4>산출결과</h4>
						<table border="0" cellpadding="0" cellspacing="0" class="tbl_type1 st3">
							<caption>산출결과</caption>
							<colgroup>
								<col width="33%" />
								<col width="33%" />
								<col />
							</colgroup>
							<tbody>
								<tr>
									<th>계열</th>
									<th>등급</th>
									<th>교과성적 반영점수</th>
								</tr>
								<tr>
									<td>인문사회/예체능</td>
									<td><span id="avgTotalScore1"></span></td>
									<td><span id="totalScore1">{{totalScore1}}</span></td>
								</tr>
								<tr>
									<td>자연</td>
									<td><span id="avgTotalScore2"></span></td>
									<td><span id="totalScore2"></span></td>
								</tr>
								<tr>
									<td>자유전공학부</td>
									<td><span id="avgTotalScore3"></span></td>
									<td><span id="totalScore3"></span></td>
								</tr>
							</tbody>
						</table>
					</div>
					
					<div class="section st1" id="divResult2" v-show="false">
						<h4>산출결과</h4>
						<table border="0" cellpadding="0" cellspacing="0" class="tbl_type1 st3">
							<caption>산출결과</caption>
							<colgroup>
								<col width="25%" />
								<col width="25%" />
								<col width="25%" />
								<col />
							</colgroup>
							<tbody>
								<tr>
									<th>계열</th>
									<th>등급</th>
									<th>교과성적 반영점수</th>
									<th>출결성적</th>
								</tr>
								<tr>
									<td>예체능</td>
									<td><span id="RstTotalScore7"></span></td>
									<td><span id="RstTotalScore8"></span></td>
									<td><span id="RstTotalScore9"></span></td>
								</tr>
							</tbody>
						</table>
					</div>
					
					<div class="section st1" id="divResult3" v-show="false">
						<h4>산출결과</h4>
						<table border="0" cellpadding="0" cellspacing="0" class="tbl_type1 st3">
							<caption>산출결과</caption>
							<colgroup>
								<col width="50%" />
								<col />
							</colgroup>
							<tbody>
								<tr>
									<th>검정고시</th>
									<th>평균점수</th>
								</tr>
								<tr>
									<td colspan="2"><span id="RstTotalScore10"></span></td>
								</tr>
							</tbody>
						</table>
					</div><!-- //section -->
					
					<div class="btn_area st1 center" id="div_1">
						<a href="javascript:void(0)" class="btn color1">성적산출</a>
						<a href="javascript:void(0)" class="btn color2">닫기</a>
					</div>
				</div>
			</div>
		</div>

	</div>

	<script src="./js/vue.js"></script>
	<script src="copy.js"></script>
</body>

</html>